<h1>User Profile</h1>


<div class="card card-header results-block">
    <table class="col-md-12">
        <tbody>
        <td><strong>Name:</strong><%= @user.full_name%></td>
        <td><strong>Email:</strong><%= @user.email%></td>
        <td>
            <% if current_user.not_friends_with?(@user.id)%>
            <%= link_to 'Follow Friend?', friendships_path(friend: @user), class: "btn btn-sm btn-success", method: :post %>
            <%else%>
            <span class="badge badge-secondary"> You Are Friend</span>
            <%end%>
        </td>        
    </tbody>
    </table>
</div>

<% if !@tracked_stocks.empty? %>
    <%= render 'stocks/list'%>
<%else%>
    <p class="lead">This User is not tracking any stocks </p>
<%end%>